#archives {
  position: relative;
  top: 100px;
  margin: auto;
  padding: 20px;
}
#archives a,
#archives .tag-icon {
  color: label-font;
  text-decoration: none;
}
#archives .tags {
  margin-left: 20px;
}
#archives .tags .tag {
  margin-right: 10px;
}
#archives h3 {
  margin: 10px 0;
}
#archives .item-time {
  color: label-font;
}
