footer {
  position: relative;
  font-size: 14px;
  z-index: 103;
  width: 100%;
  text-align: center;
  top: 150px;
}
footer .footer-wrap {
  border-top: 1px solid footer-line;
  width: 900px;
  margin: auto;
  color: label-font;
}
footer .footer-wrap div {
  margin: 15px;
}
footer .footer-wrap a {
  text-decoration: none;
  color: default-link;
}
footer .footer-icon {
  display: inline-block;
  margin: 0 10px;
  color: default-link;
  font-size: 18px;
}
