#menu {
  user-select: none;
  z-index: 105;
  position: fixed;
  width: 100%;
  line-height: 50px;
  font-weight: bold;
  transition: top 0.5s ease-out;
  background: menu-default-background;
  box-shadow: 0px -1px 10px 0px rgba(158,158,158,0.302);
  top: 0;
}
#menu .desktop-menu {
  height: 50px;
}
#menu .desktop-menu .title {
  display: inline-block;
  margin-left: 30px;
  margin-right: 20px;
  font-family: default-font-family;
  text-transform: uppercase;
  color: menu-default-font;
}
#menu .desktop-menu a {
  display: inline-block;
  margin-left: 30px;
  text-decoration: none;
  color: menu-default-font;
}
#menu .desktop-menu a span {
  display: inline-block;
  position: relative;
}
#menu .desktop-menu a span img {
  position: relative;
  top: 3px;
  width: 20px;
  height: 20px;
}
#menu .desktop-menu a span:nth-child(1) {
  margin-right: 5px;
}
#menu .phone-menu {
  min-height: 50px;
  text-align: center;
  transition: all 0.3s ease-out;
}
#menu .phone-menu .title {
  cursor: pointer;
  color: menu-default-font;
}
#menu .phone-menu .items {
  padding: 10px 0 20px;
  z-index: 104;
  transition: all 0.3s ease-out;
}
#menu .phone-menu .items a {
  color: menu-default-font;
}
#menu .phone-menu .items .item {
  min-width: 200px;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}
#menu .phone-menu .items .item:hover {
  background: rgba(255,255,255,0.502);
}
#menu .phone-menu .curtain {
  position: fixed;
  z-index: 104;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}
.hidden-menu {
  top: -70px !important;
}
.menu-color {
  background: menu-index-background !important;
  box-shadow: 0px -1px 10px 0px rgba(255,255,255,0) !important;
}
.menu-color .false {
  background: rgba(0,0,0,0.2);
}
.menu-color .true {
  background: rgba(0,0,0,0.6) !important;
}
.menu-color .title,
.menu-color a {
  color: menu-index-font !important;
}
